:root {
  --b: 2px solid black;
  --hoverColor: rgba(0, 0, 0, 0.08);
}
* {
  box-sizing: border-box;
}

body {
  display: flex;
}

.nav {
  width: 300px;
  height: 100vh;
}
/* profile */
.profile {
  border: var(--b);
  width: 100%;
  height: 8%;
  padding: 5px;
  margin-bottom: 10px;
  display: flex; /* Enable Flexbox */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.name-title {
  font-weight: bold;
  text-align: center;
  font-size: 15px;
}

/* ----------- */
/* nav bar */
.nav-bar {
  border: var(--b);
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.nav-bar button {
  height: 100%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  border: none;
  background-color: var(--primaryBackgroundColor);
}
.nav-bar button:hover {
  background-color: var(--hoverColor);
}

.add-task-btn {
  font-size: 50px;
}

/* ----------------- */

/* project-bar */
.project-bar {
  border: var(--b);
  width: 100%;
  height: 44.4%;
}

.my-project {
  margin: 6px;
  text-align: center;
}

.project-content {
  gap: 160px;

  margin: 6px;

  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}
/* project btn */
.li {
  border: 2px solid rgb(0, 0, 0);
  display: inline;
  margin-bottom: 3px;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-project-btn {
  border: 2px solid rgb(0, 0, 0);
  margin-left: 3px;
}

.add-project-btn {
  width: 96%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 6px;
  background-color: transparent;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cancel-btn {
  margin-left: 5px;
  width: 70px;
}

.add-project-btn:hover {
  background-color: var(--hoverColor);
}

.delete-btn,
.edit-btn {
  border: 1px solid black;
  background-color: transparent;
}

li {
  display: flex;
}
/* .edit-btn {
  margin-left: auto;
} */
.delete-btn {
  margin-left: auto;
}

.delete-btn:hover,
.edit-btn:hover {
  background-color: var(--hoverColor);
}

/* ----------- */

.content {
  /* background-color: yellow; */
  width: 80vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  border: var(--b);
  width: 90%;
  height: 90%;
  padding: 10px;
}

/* add task dialog */
.dialog,
.dialog2 {
  margin-top: 200px;
  padding: 0;
  height: 500px;
  width: 500px;
}

.dialog::backdrop,
.project-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.514);
  backdrop-filter: blur(10px);
}
.dialog-title-box {
  background-color: rgba(219, 219, 219, 0.379);
  height: 55px;
  display: flex;
  border-bottom: solid black 1px;
}
li::marker {
  color: white;
}

h2 {
  padding-left: 20px;
  font-size: 30px;
  font-weight: bold;

  align-self: center;
}

.close-btn {
  margin-left: auto;
  height: 21px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 6px;
}

.close-btn2 {
  margin-left: auto;
  height: 21px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 6px;
}

.task-form,
.edit-form {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 25px;
}
.task-form > input,
.edit-form > input {
  height: 35px;
}

.task-form > label,
.edit-form > label {
  font-size: 15px;
}

.input-title {
  width: 450px;
}

textarea {
  height: 80px;
  width: 90%;
}
select {
  width: 120px;
  height: 35px;
}

.submit-btn {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 60px;
  height: 25px;
  border-radius: 8px;
  margin-left: 190px;
}

.task {
  margin: 6px;
  margin-top: 10px;
}
